# Logs
logs
*.log

# Build/paquetes (por si se reinstalan en algún momento)
node_modules
dist

# Config locales
*.local
.env*

# Editor/OS
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.swp
*.swo
